.container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 999;
  transform: translateY(calc(-100% + 6px)) translateX(calc(-100% + 8px));
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: system-ui;
  font-weight: 600;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.45);
}