html, body {
  overscroll-behavior-y: none;
}

.r6o-annotatable, .r6o-annotatable * {
  position: relative;
}

.r6o-annotatable.hovered {
  cursor: pointer;
}

.r6o-highlight-layer {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  pointer-events: none;
  width: 100vw;
}