.r6o-canvas-highlight-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.r6o-canvas-highlight-layer.bg {
  mix-blend-mode: multiply;
  z-index: 1;
}
