.r6o-highlight-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.r6o-highlight-layer.bg {
    z-index: 1;
    mix-blend-mode: multiply;
}
