.r6o-annotatable .r6o-span-highlight-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.r6o-annotatable .r6o-span-highlight-layer.hidden {
  display: none;
}

.r6o-annotatable .r6o-span-highlight-layer .r6o-annotation {
  position: absolute;
  display: block;
  border-width: 0;
  border-style: solid;
}

.r6o-annotation {
  /* `padding` should grow beyond the `height` and be used as the underline offset */
  box-sizing: content-box;
}
