html, body {
  overscroll-behavior-y: none;
}

.r6o-annotatable {
  position: relative;

  /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
  -webkit-tap-highlight-color: transparent;
}

.r6o-annotatable.no-focus-outline {
  outline: none
}

.hovered * {
  cursor: pointer;
}

*::selection, ::selection {
  background: rgba(0, 128, 255, 0.18);
}

::-moz-selection, ::-moz-selection {
  background: rgba(0, 128, 255, 0.18);
}
